{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Inbox{% endblock %}</h1>
{% endblock %}

{% block content %}
<br>
  <div class="conversations-container">
    <article class="convo" style="justify-content: center; align-items: center;">
      <h2>
        <div style="width: 200px; margin-bottom: 10px; font-size: 16px; color: rgb(255, 230, 0);">
            New Message
        </div>
      </h2>
      <form action="{{ url_for('inbox.start_conversation') }}" method="post">
        <label for="recipient_username" >Recipient's Username:</label>
        <input type="text" id="recipient_username" name="recipient_username" required>
        <button type="submit" style="background: none; border: none; padding: 0px;"><img src="{{ url_for('static', filename='submit.png') }}" alt="Submit" id="submitImage" style="width: 30px; height: 30px; cursor: pointer;"></button>
      </form>
    </article>
    {% for conversation in conversations %}
    {% set other_user_id = conversation['first_user_id'] if g.user['id'] != conversation['first_user_id'] else conversation['second_user_id'] %}
    {% set other_username = conversation['first_user_username'] if g.user['id'] != conversation['first_user_id'] else conversation['second_user_username'] %}     
      {% if conversation['message_count'] > 0 %}
      {% set is_deleted = conversation['first_user_is_deleted'] if g.user['id'] == conversation['first_user_id'] else conversation['second_user_is_deleted'] %}
        {% if is_deleted != 1 %}
          <article class="convo">
            <br>
            <div class="small_pfp" style="display: flex; justify-content: center;">
              {% if has_pfp(other_user_id) == 1 %}
                <br>
                <a href="{{ url_for('user.nonuser_profile', username=other_username) }}">
                  <img src="{{ url_for('user.crop_circle_50px', id=other_user_id) }}" alt="Profile Picture">
                </a>
              {% endif %}
            </div>
            <div class="small_pfp" style="width: 238px; display: flex; justify-content: center;">
              <h1>
                <a href="{{ url_for('inbox.conversation', user_id=g.user['id'], other_user_id=other_user_id) }}" style="font-size: 18px; margin-left: 15px;">
                  {{ other_username }}
                </a>
              </h1>
            </div>
            <header>
              {% if (conversation['first_last_message_preview'] != "None" and conversation['first_last_message_time'] != None) or (conversation['second_last_message_preview'] != "None" and conversation['second_last_message_time'] != None) %}                 
                  {% if conversation['first_user_id'] == g.user['id'] %}
                      {% if conversation['first_last_sender_id'] == g.user['id'] %}
                          <p>You: <q>{{ conversation['first_last_message_preview'] }}</q> </p>
                          <p>{{ conversation['first_last_message_time'] }}</p>
                          {% if conversation['is_first_last_message_read'] == 1 %}
                              <p style="color: rgba(127, 255, 7, 0.863);">Read</p>
                          {% else %}
                              <p style="color: rgba(211, 211, 235, 0.651);">Delivered</p>
                          {% endif %}
                      {% else %}
                          <p>Them: <q>{{ conversation['first_last_message_preview'] }}</q> </p>
                          <p>{{ conversation['first_last_message_time'] }}</p>
                          {% if conversation['is_first_last_message_read'] != 1 %}
                              <p style="color: rgb(68, 68, 252);">New!</p>
                          {% endif %}
                      {% endif %}
                  {% else %}
                      {% if conversation['second_last_sender_id'] == g.user['id'] %}
                          <p>You: <q>{{ conversation['second_last_message_preview'] }}</q> </p>
                          <p>{{ conversation['second_last_message_time'] }}</p>
                          {% if conversation['is_second_last_message_read'] == 1 %}
                              <p style="color: rgba(127, 255, 7, 0.863);">Read</p>
                          {% else %}
                              <p style="color: rgba(211, 211, 235, 0.651);">Delivered</p>
                          {% endif %}
                      {% else %}
                          <p>Them: <q>{{ conversation['second_last_message_preview'] }}</q> </p>
                          <p>{{ conversation['second_last_message_time'] }}</p>
                          {% if conversation['is_second_last_message_read'] != 1 %}
                              <p style="color: rgb(68, 68, 252);">New!</p>
                          {% endif %}
                      {% endif %}
                  {% endif %}
              {% endif %}
              <form action="{{ url_for('inbox.soft_delete_conversation', user_id=g.user['id'], other_user_id=other_user_id) }}" method="post">
                <input type="hidden">
                <button type="submit" style="background: none; border: none; padding: 0px;"><img src="{{ url_for('static', filename='trash.svg') }}" alt="Submit" id="submitImage" style="width: 20px; height: 20px; cursor: pointer;"></button>
              </form>
            </header>
          </article>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
  <br>
{% endblock %}