{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Inbox{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="conversations-container">
    <article class="convo" style="justify-content: center; align-items: center;">
      <h2>
        <div style="width: 200px; margin-left: 50px;">
            Start a New Conversation
        </div>
      </h2>
      <form action="{{ url_for('inbox.start_conversation') }}" method="post">
        <label for="recipient_username" >Recipient's Username:</label>
        <input type="text" id="recipient_username" name="recipient_username" required>
        <button type="submit" style="background: none; border: none; padding: 0px;"><img src="{{ url_for('static', filename='submit.png') }}" alt="Submit" id="submitImage" style="width: 30px; height: 30px; cursor: pointer;"></button>
      </form>
    </article>
    {% for conversation in conversations %}
      {% if conversation['message_count'] > 0 %}
        <article class="convo">
          <br>
          <div class="small_pfp">
            {% set other_user_id = conversation['first_user_id'] if g.user['id'] != conversation['first_user_id'] else conversation['second_user_id'] %}
            {% set other_username = conversation['first_user_username'] if g.user['id'] != conversation['first_user_id'] else conversation['second_user_username'] %}
            
            {% if has_pfp(other_user_id) %}
              <br>
              <a href="{{ url_for('user.nonuser_profile', username=other_username) }}">
                <img src="{{ url_for('user.crop_circle_50px', id=other_user_id) }}" alt="Profile Picture">
              </a>
            {% endif %}
            
            <h1>
              <a href="{{ url_for('inbox.conversation', user_id=g.user['id'], other_user_id=other_user_id) }}" style="font-size: 18px; margin-left: 15px;">
                {{ other_username }}
              </a>
            </h1>
          </div>
          <header>
            {% if conversation['last_sender_id'] == g.user['id'] %}
              <p>You: <q>{{ conversation['last_message_content'] }}</q> </p>
              <p>Time: {{ conversation['last_message_time'] }}</p>
              {% if conversation['is_last_message_read'] %}
                <p>Read</p>
              {% else %}
                <p>Unread</p>
              {% endif %}
            {% else %}
              <p>Them: <q>{{ conversation['last_message_content'] }}</q> </p>
              <p>Time: {{ conversation['last_message_time'] }}</p>
              {% if conversation['is_last_message_read'] != True %}
                <p>New!</p>
              {% endif %}
            {% endif %}
          </header>
        </article>
        <a href="{{ url_for('inbox.delete_conversation', user_id=g.user['id'], other_user_id=other_user_id) }}">Delete</a>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}