{% extends 'base.html' %}

{% block header %}
  <h1>{{ user['username'] }}</h1>
  {% if relationship['status'] == 2 %}
    {% if user['friend_count'] != 1 %} 
      <a class="action" href="{{ url_for('user.view_friends', id=user['id']) }}">{{ user['friend_count'] }} Friends</a>
    {% else %}
      <a class="action" href="{{ url_for('user.view_friends', id=user['id']) }}">{{ user['friend_count'] }} Friend</a>
    {% endif %}
  {% endif %}
  {% if relationship is none %}
    <form action="{{ url_for('user.send_friend_request', friend_id=user['id']) }}" method="POST">
      <div class="like_button"><button type="submit"><img src="{{ url_for('static', filename='add_friend.svg') }}" alt="Add Friend" style="margin-top: 8px; margin-left: 14px;"></button></div>
    </form>
  {% elif relationship['status'] == 1 %}
    {% if relationship['first_user_id'] == user['id'] %}
      <form id="relationship" action="{{ url_for('user.accept_friend_request', friend_id=user['id']) }}" method="POST">
        <div class="like_button"><button type="submit"><img src="{{ url_for('static', filename='check.png') }}" alt="Accept Request" style="margin-top: 8px; margin-left: 32px;"></button></div>
      </form>
      <form id="relationship" action="{{ url_for('user.decline_friend_request', friend_id=user['id']) }}" method="POST">
        <div class="like_button"><button type="submit"><img src="{{ url_for('static', filename='decline.png') }}" alt="Decline Request" style="margin-top: 8px; margin-left: 14px;"></button></div>
      </form>
    {% else %}
      <form id="relationship" action="{{ url_for('user.cancel_friend_request', friend_id=user['id']) }}" method="POST">
        <div class="like_button"><button type="submit"><img src="{{ url_for('static', filename='cancel.svg') }}" alt="Cancel Request" style="margin-top: 8px; margin-left: 14px;"></button></div>
    {% endif %}
  {% elif relationship['status'] == 2 %}
    <form id="relationship" action="{{ url_for('user.unfriend', friend_id=user['id']) }}" method="POST">
      <div class="like_button"><button type="submit"><img src="{{ url_for('static', filename='unfriend.png') }}" alt="Unfriend" style="margin-top: 8px; margin-left: 14px;"></button></div>
    </form>
  {% endif %}
{% endblock %}

{% block content %}
  {% if user['profile_picture'] %}
    <br>
    <img src="{{ url_for('user.profile_picture', id=user['id']) }}" alt="Profile Picture">
  {% endif %}
  {% if user['bio'] %}
    <div>
      <p>{{ user['bio'] }}</p>
    </div>
  {% endif %}
  <hr>
  {% for post in posts|reverse %}
    <article class="post">
      <header>
        <div>
          <h1><a href="{{ url_for('blog.view_post', id=post['id']) }}">{{ post['title'] }}</a></h1>
          <br>
          <div class="about">
            {% if post['is_edited'] != 1 %} 
              {{ post['created'] }}
            {% else %}
              edited on {{ post['created'] }}
            {% endif %}
          </div>
        </div>
      </header>
      <p class="body">{{ post['body'] }}</p>
      <div class = "stats">
        {% if post['like_count'] != 1 %} 
          {{ post['like_count'] }} Likes</a> &nbsp;&nbsp;&nbsp;
        {% else %}
          {{ post['like_count'] }} Like</a> &nbsp;&nbsp;&nbsp;
        {% endif %}
        {% if post['comment_count'] != 1 %} 
          {{ post['comment_count'] }} Comments</a> &nbsp;&nbsp;&nbsp;
        {% else %}
          {{ post['comment_count'] }} Comment</a> &nbsp;&nbsp;&nbsp;
        {% endif %} 
        <br>
        <div class="post_buttons">
          {% if has_liked_post(g.user['id'], post['id']) %}
              <form action="{{ url_for('blog.like_post', id=post['id']) }}" method='POST'>
                  <div class="like_button"><button type="submit"><img src="{{ url_for('static', filename='cool-like-green.png') }}" alt="Unlike"></button></div>
              </form>
          {% else %}
              <form action="{{ url_for('blog.like_post', id=post['id']) }}" method='POST'>
                  <div class="like_button"><button type="submit"><img src="{{ url_for('static', filename='cool-like.png') }}" alt="Like"></button></div>
              </form>
          {% endif %}
          <a href="{{ url_for('blog.view_post', id=post['id']) }}" class="comment_link">
              <img src="{{ url_for('static', filename='comment.png') }}" alt="Comments" class="comment_button">
          </a>
        </div>
      </div>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}