{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ g.user['username'] }}{% endblock %}</h1>
  <a class="action" href="{{ url_for('user.settings') }}" style="font-size: 17px;">Change Profile Picture</a>
  <a class="action" href="{{ url_for('user.bio', id=g.user['id']) }}" style="font-size: 17px;">Edit Bio</a>
{% endblock %}

{% block content %}
  {% if g.user['profile_picture'] %}
    <br>
    <img src="{{ url_for('user.profile_picture', id=g.user['id']) }}" alt="Profile Picture">
  {% endif %}
  {% if g.user['friend_count'] != 1 %} 
  <h1><a class="action" href="{{ url_for('user.view_friends', id=g.user['id']) }}" style="font-size: 17px;">{{ g.user['friend_count'] }} Friends</a></h1>
  {% else %}
  <h1><a class="action" href="{{ url_for('user.view_friends', id=g.user['id']) }}" style="font-size: 17px;">{{ g.user['friend_count'] }} Friend</a></h1>
  {% endif %}
  {% if g.user['bio'] %}
    <div>
      <p>{{ g.user['bio'] }}</p>
    </div>
  {% endif %}
  {% if g.user['bio'] or g.user['profile_picture'] %}<hr>{% endif %}
  {% for post in posts|reverse %}
    <article class="post">
      <header>
        <div>
          <h1><a href="{{ url_for('blog.view_post', id=post['id']) }}">{{ post['title'] }}</a></h1>
          <br>
          {% if post['is_edited'] != 1 %} 
            {{ post['created'] }}
          {% else %}
            edited on {{ post['created'] }}
          {% endif %}
        </div>
        <a href="{{ url_for('blog.update', id=post['id']) }}">
          <img src="{{ url_for('static', filename='edit-post.png') }}" alt="Edit Post" class="edit_button">
        </a>
      </header>
      <p class="body">{{ post['body'] }}</p>
      <div class = "stats">
        {% if post['like_count'] != 1 %} 
          {{ post['like_count'] }} Likes</a> &nbsp;&nbsp;&nbsp;
        {% else %}
          {{ post['like_count'] }} Like</a> &nbsp;&nbsp;&nbsp;
        {% endif %}
        {% if post['comment_count'] != 1 %} 
          {{ post['comment_count'] }} Comments</a> &nbsp;&nbsp;&nbsp;
        {% else %}
          {{ post['comment_count'] }} Comment</a> &nbsp;&nbsp;&nbsp;
        {% endif %}
        <br>
        <div class="post_buttons">
          {% if has_liked_post(g.user['id'], post['id']) %}
              <form action="{{ url_for('blog.like_post', id=post['id']) }}" method='POST'>
                  <div class="like_button"><button type="submit"><img src="{{ url_for('static', filename='cool-like-green.png') }}" alt="Unlike"></button></div>
              </form>
          {% else %}
              <form action="{{ url_for('blog.like_post', id=post['id']) }}" method='POST'>
                  <div class="like_button"><button type="submit"><img src="{{ url_for('static', filename='cool-like.png') }}" alt="Like"></button></div>
              </form>
          {% endif %}
          <a href="{{ url_for('blog.view_post', id=post['id']) }}" class="comment_link">
              <img src="{{ url_for('static', filename='comment.png') }}" alt="Comments" class="comment_button">
          </a>
        </div>
      </div>
      <br>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}