{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Friends{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for friend in friends %}
    <article class="friend">
      <br>
      <div class = "small_pfp">
        <img src="{{ url_for('user.crop_circle_50px', id=friend['id']) }}" alt="Profile Picture">
        &nbsp;&nbsp;
        <h1><a href="{{ url_for('user.nonuser_profile', username=friend['username']) }}" style="font-size: 18px; margin-left: 15px;">{{ friend['username'] }}</a></h1>
      </div>
      <header>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}