{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit Comment{% endblock %}</h1>
{% endblock %}

{% block content %}

  <form id="myForm" method="post">
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] or comment['body'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <img src="{{ url_for('static', filename='submit.png') }}" alt="Submit" id="submitImage" style="width: 30px; height: 30px; cursor: pointer;">
  <script>
    document.getElementById("submitImage").addEventListener("click", function() {
      document.getElementById("myForm").submit();
    });
  </script>
{% endblock %}