{% extends 'base.html' %}

{% block header %}
  <h1> 
    <div class = "small_pfp">
      {% if g.user == post['author_id'] and g.user['profile_picture'] %}
        <img src="{{ url_for('user.resize_small', id=g.user['id']) }}" alt="Profile Picture">
      {% elif has_pfp(post['author_id']) %}
        <img src="{{ url_for('user.resize_small', id=post['author_id']) }}" alt="Profile Picture">
      {% endif %}
    </div>
  </h1>
  {% if post['is_edited'] != 1 %}
    <div class="about">Posted by
      {% if g.user['id'] != post['author_id'] %}
        <a href="{{ url_for('user.profile_others', username=post['username']) }}">{{ post['username'] }}</a>
      {% else %}
        <a href="{{ url_for('user.profile', username=post['username']) }}">{{ post['username'] }}</a>
      {% endif %}
        on {{ post['created'] }}
    </div>
  {% else %}
    <div class="about">Edited by
      {% if g.user['id'] != post['author_id'] %}
        <a href="{{ url_for('user.profile_others', username=post['username']) }}">{{ post['username'] }}</a>
      {% else %}
        <a href="{{ url_for('user.profile', username=post['username']) }}">{{ post['username'] }}</a>
      {% endif %}
        on {{ post['created'] }}
    </div>
  {% endif %}
{% endblock %}

{% block content %}
 <h1>{{ post['title'] }}</h1>
    {% if post['body'] %}
        <div>
            <p>{{ post['body'] }}</p>
        </div>
    {% else %}
        <br>
    {% endif %}
        <div class = "stats">
            {% if post['like_count'] != 1 %} 
              {{ post['like_count'] }} Likes</a> &nbsp;&nbsp;&nbsp;
            {% else %}
              {{ post['like_count'] }} Like</a> &nbsp;&nbsp;&nbsp;
            {% endif %}
            {% if post['comment_count'] != 1 %} 
              {{ post['comment_count'] }} Comments</a> &nbsp;&nbsp;&nbsp;
            {% else %}
              {{ post['comment_count'] }} Comment</a> &nbsp;&nbsp;&nbsp;
            {% endif %}
            {% if g.user['id'] == post['author_id'] %}
              <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
            {% endif %} 
            <br>
            {% if has_liked_post(g.user['id'], post['id']) %}
            <form action="{{ url_for('blog.like_post', id=post['id']) }}" method='POST'>
              <div class= "like_button"><button type="submit">Unlike</button></div>
            </form>
        {% else %}
            <form action="{{ url_for('blog.like_post', id=post['id']) }}" method='POST'>
              <div class= "like_button"><button type="submit">Like</button></div>
            </form>
        {% endif %}
        </div>
        <hr>
    <div>
        <p>{{ 'Comments:' }}<hr></p>
        {% for comment in comments %}
        <article class="post">
          <br>
          <div class = "small_pfp">
            {% if g.user == comment['author_id'] and g.user['profile_picture'] %}
              <img src="{{ url_for('user.resize_small', id=g.user['id']) }}" alt="Profile Picture">
            {% elif has_pfp(comment['author_id']) %}
              <img src="{{ url_for('user.resize_small', id=comment['author_id']) }}" alt="Profile Picture">
            {% endif %}
          </div>
            <header>
              <div>
                <!-- <h1>{{ comment['author_username'] }}</h1> -->
                <br>
                {% if comment['is_edited'] != 1 %}
                  <div class="about">by
                    {% if g.user['id'] != comment['author_id'] %}
                      <a href="{{ url_for('user.profile_others', username=comment['author_username']) }}">{{ comment['author_username'] }}</a>
                    {% else %}
                      <a href="{{ url_for('user.profile', username=comment['author_username']) }}">{{ comment['author_username'] }}</a>
                    {% endif %}
                      on {{ comment['created'] }}
                  </div>
                {% else %}
                  <div class="about">edited by
                    {% if g.user['id'] != comment['author_id'] %}
                      <a href="{{ url_for('user.profile_others', username=comment['author_username']) }}">{{ comment['author_username'] }}</a>
                    {% else %}
                      <a href="{{ url_for('user.profile', username=comment['author_username']) }}">{{ comment['author_username'] }}</a>
                    {% endif %}
                      on {{ comment['created'] }}
                  </div>
                {% endif %}
              </div>
            </header>
            <p class="body">{{ comment['body'] }}</p>
            <div class = "stats">
            
              {% if g.user['id'] == comment['author_id'] %}
                <a class="action" href="{{ url_for('blog.update_comment', post_id=post['id'], id=comment['id']) }}">Edit</a>
                &nbsp;
              {% endif %}
              <a class="action" href="{{ url_for('blog.update_comment', post_id=post['id'], id=comment['id']) }}">Reply</a>
            </div>
        </article>
        <hr>
        {% endfor %}
        <form class="centered-form" method="post">
            <label for="comment">Add Comment</label>
            <input name="comment" id="comment" required>
            <br>
            <div><input type="submit" value="Comment"></div>
        </form>
    </div>
{% endblock %}