html { font-family: sans-serif; background: #0db661; padding: 1rem; }
body { max-width: 960px; margin: 0 auto; background: rgb(0, 0, 0); }
h1 { font-family: serif; color: #0db661; margin: 1rem 0; }
a { color: #0db661; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: rgb(255, 255, 255); display: flex; align-items: center; padding: 0 0.5rem;  }
nav h1 { flex: auto; margin: 0;}
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none;  margin: 0; padding: 0; align-items: center; }
nav ul li { white-space: nowrap;}
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content {color: rgb(255, 255, 255); padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #0db661; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: rgb(255, 255, 255); font-style: italic; }
.post .body { color: rgb(255, 255, 255); white-space: pre-line; }
.post .stats { color: rgb(207, 206, 206); }
.like_button { width: 50px; height: 25px; }
.update_button { width: 100px; height: 25px; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }s
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }

.red-text-button {
  color: red;
  background-color: white;
  width: 175px;
  height: 25px;
}

.header-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-start;
}
.username {
  margin-bottom: 20px;
}

.small_pfp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.profile-actions form {
  width: 100%;
}
.profile-actions .action {
  align-self: flex-end;
  margin-top: 10px;
}

.centered-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-form input[type="submit"] {
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  align-items: center;
}

#search-li {
  display: inline-block;
  margin-right: 425px;
}

#search-form {
  display: flex;
  align-items: center;
}

#search-form input[type="text"],
#search-form button {
  margin: 0;
}

#search-form button {
  margin-left: 3px;
}

.search-button button {
  position: relative;
  display: inline-block;
  background-color: transparent;
  border: none !important;
  outline: none !important;
  width: 24px;
  height: 24px;
}

.shrink-search {
  margin-top: 5px;
  width: 34px;
  height: 34px;
}

.notification-bell {
  position: relative;
  display: inline-block;
}

.notification-bell .custom-icon {
  width: 24px;
  height: 24px;
}

.notification-bell .badge {
  position: absolute;
  top: -5px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
  font-size: 0.8rem;
}

.settings-icon {
  position: relative;
  display: inline-block;
}

.settings-icon .custom-icon {
  width: 30px;
  height: 30px;
}

.comment_button {
  width: 30px;
  height: 30px;
  align-items: center;
  background-color: #ffffff;
  margin-top: 5px;
}

.new_post {
  margin-bottom: 2px;
  width: 24px;
  height: 24px;
}

.edit_button {
  width: 24px;
  height: 24px;
}

.like_button button {
  border: none;
  padding: 0;
  background-color: transparent;
}

.like_button img {
  width: 25px; /* Adjust size as needed */
  height: 25px; /* Adjust size as needed */
}

.post_buttons {
  display: flex; 
  align-items: center;
}
