{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Notifications{% endblock %}</h1>
  <a class="action" href="{{ url_for('notifications.new_message') }}"> New Message </a>
{% endblock %}

{% block content %}
  {% for notification in notifications %}
    {% if g.user != notification['other_user_id'] %}
      <article class="post">
        <br>
        <div class = "notification">
          <div class = "small_pfp">
            {% if has_pfp(notification['other_user_id']) %}
              <img src="{{ url_for('user.resize_small', id=notification['other_user_id']) }}" alt="Profile Picture">
            {% endif %}
            {% if notification['type'] == "like" %}
              &nbsp;&nbsp;
              <a href="{{ url_for('user.profile_others', username=notification['other_user_username']) }}">{{ notification['username'] }}</a> 
              &nbsp;has liked your&nbsp;
              <a href="{{ url_for('blog.view_post', id=notification['post_id']) }}">post</a>
              !
            {% endif %}
          </div>
          <br>
          {{notification['time']}}
        </div>
      </article>
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}